<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129636771689-k17ect5v395qqgr63ocgbk7oecjeogaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129636771689-k17ect5v395qqgr63ocgbk7oecjeogaf</string>
	<key>API_KEY</key>
	<string>AIzaSyBya1T2ptI90J41e_dhkyIY533g6aAZoDM</string>
	<key>GCM_SENDER_ID</key>
	<string>129636771689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nazar.CryptoBase</string>
	<key>PROJECT_ID</key>
	<string>cryptobase-6f133</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptobase-6f133.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129636771689:ios:86b9d53d3d11ee0754fff8</string>
</dict>
</plist>