<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795468527119-4u74au9fudauf0dp06ugobl6ggovf2iq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795468527119-4u74au9fudauf0dp06ugobl6ggovf2iq</string>
	<key>API_KEY</key>
	<string>AIzaSyDfazEEsKzBBgigVm3O41tRjefR3BIbsJw</string>
	<key>GCM_SENDER_ID</key>
	<string>795468527119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nazar.CryptoBase</string>
	<key>PROJECT_ID</key>
	<string>cryptobase-29936</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptobase-29936.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795468527119:ios:406b384035144b0d41957a</string>
</dict>
</plist>